.body{
  background-color: rgb(255, 255, 255);
}

.sidebar-button {
  position: absolute;
  border: solid whitesmoke;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 5px;
  background-clip: content-box;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

